<div class="main">
    <button [routerLink]="['/']" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-q-arobot">
        <fa-icon [icon]="'arrow-left'"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="global.navigation.back">
            返回主页
        </span>
    </button>
    <span *ngFor="let image of images">
        <img class = "hipster" src="{{image.path}}">
        <form *jhiHasAnyAuthority="'ROLE_ADMIN'" name="deleteForm" (ngSubmit)="confirmDelete(image.name)">
                <p>{{image.name}}</p>
                <button type="submit" class="btn btn-danger">
                    <fa-icon [icon]="'times'"></fa-icon>
                    <span jhiTranlate="entity.action.delete">删除</span>
                </button>
        </form>
    </span>
    <form *jhiHasAnyAuthority="'ROLE_ADMIN'" name="uploadForm" (ngSubmit)="confirmUpload(file)">
        <input type="file" [(ngModel)]="file">
        <button type="submit" class="btn btn-primary">
            <fa-icon [icon]="'save'"></fa-icon><span jhiTranslate="entity.action.save">Save</span>
        </button>
    </form>
</div>
