<div class="container col-sm-12">
        <div class="row">
                <mat-card class="col-sm-12">
                    <form name="searchForm" class="form-inline col-sm-6">
                        <div class="input-group w-100 mt-3">
                            <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                                name="currentSearch"
                                placeholder="搜索申请单">
                            <button mat-raised-button class="input-group-append" color="warn" (click)="load()">
                                <fa-icon [icon]="'search'"></fa-icon>
                            </button>

                        </div>
                    </form>
                    <div>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-raised-button color="accent" id="jh-create-entity"
                            class="float-right jh-create-entity create-q-arobot" [routerLink]="['create']">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span class="hidden-sm-down">
                               上传新申请单
                            </span>
                        </button>
                    </div>

                </mat-card>

            </div>
            <br />
            <div *ngIf="applications">
                <table style = "width: 100%" mat-table [dataSource]="applications" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- ID Column -->
                    <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> 申请单 </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-card matRipple>
                                <a [href] = "[service.applicationUrl + '/' + element.id]">{{element.name}}
                                </a>
                                <br>
                            </mat-card>
                        </td>
                    </ng-container>

                    <!-- View Column -->
                    <ng-container matColumnDef="view">
                        <th mat-header-cell *matHeaderCellDef> 预览 </th>
                        <td mat-cell *matCellDef="let element">
                                <button mat-mini-fab [routerLink]="['view', element.id]"><fa-icon [icon] = "'eye'"></fa-icon></button>
                                <br>
                        </td>
                    </ng-container>

                    <!-- Edit Column -->
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> 编辑 </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="btn-group flex-btn-group-container">
                                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-mini-fab type="submit"
                                    style="background-color: lightblue;" [routerLink]="['update' , element.id]">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Delete Column -->
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> 删除 </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="btn-group flex-btn-group-container">
                                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-mini-fab type="submit" [routerLink]="['delete' , element.id]"
                                      style="background-color: rgb(243, 26, 26);">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" [length]="totalItems" showFirstLastButtons
                    (page)="paginate($event)">
                </mat-paginator> -->
            </div>
    </div>
