<mat-card>{{diseaseBranch.name}}
    <button mat-mini-fab color="primary" *jhiHasAnyAuthority="'ROLE_ADMIN'" (click)="openBranchBottomSheet()"
        class="add">+</button>
    <button mat-raised-button (click)="previousState()" class="nav-back">
        <fa-icon [icon]="'arrow-left'"></fa-icon>
    </button>
</mat-card>
<!-- <button mat-raised-button (click)="openBranchBottomSheet()">Open file</button> -->
<br>
<div class="container col-12">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
            <li class="mat-tree-node">
                <div>
                    <!-- <fa-icon [icon]="'chevron-right'" class="expandable-button"></fa-icon> -->
                    <span>{{node.name}}</span>
                    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-mini-fab color="primary"
                        (click)="openMapBottomSheet(node)" class="add">+</button>
                    <br>
                    <mat-nav-list *ngFor="let diseaseXiAn of node.diseaseXiAns">
                        <mat-card matRipple>
                            <fa-icon [icon]="'book-medical'" style="color: darkturquoise"></fa-icon>
                            <a [routerLink]="['/disease-xi-an', diseaseXiAn.id, 'view']">{{diseaseXiAn.name}}</a>
                            <fa-icon [icon]="'chevron-right'"></fa-icon>
                            <button mat-raised-button style="background-color: cornsilk" disabled><span
                                    style="color: cadetblue">{{diseaseXiAn.subsidiary}}</span> -
                                {{diseaseXiAn.projectCode}}
                            </button>
                            <button mat-mini-fab color="warn" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                (click)="deassociateWithDiseaseXiAn(diseaseXiAn.id, node.id)">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </mat-card>
                    </mat-nav-list>
                    <mat-nav-list *ngFor="let qarobot of node.qarobots">
                        <mat-card matRipple>
                            <fa-icon [icon]="'question'" style="color: yellow"></fa-icon>{{node.name}}
                            <a [routerLink]="['/q-arobot', qarobot.id, 'view']">{{qarobot.question}}</a>
                            <fa-icon [icon]="'chevron-right'"></fa-icon>
                            <button mat-raised-button style="background-color: cornsilk" disabled><span
                                    style="color: cadetblue">{{qarobot.qaSubsidiary}}</span> -
                            </button>
                            <button mat-mini-fab color="warn" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                (click)="deassociateWithDiseaseXiAn(qarobot.id, node.id)">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </mat-card>
                    </mat-nav-list>
                    <hr>
                </div>
            </li>
        </mat-tree-node>

        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <li class="example-tree-node">
                <div>
                    <fa-icon matTreeNodeToggle [icon]="treeControl.isExpanded(node) ? 'angle-down' : 'chevron-right'"></fa-icon>
                    <span>{{node.name}}</span>
                    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-mini-fab color="primary"
                        (click)="openMapBottomSheet(node)" class="add">+</button>
                    <br>
                    <mat-nav-list *ngFor="let diseaseXiAn of node.diseaseXiAns">
                        <mat-card matRipple>
                            <fa-icon [icon]="'book-medical'" style="color: darkturquoise"></fa-icon>
                            <a [routerLink]="['/disease-xi-an', diseaseXiAn.id, 'view']">{{diseaseXiAn.name}}</a>
                            <fa-icon [icon]="'chevron-right'"></fa-icon>
                            <button mat-raised-button style="background-color: cornsilk" disabled><span
                                    style="color: cadetblue">{{diseaseXiAn.subsidiary}}</span> -
                                {{diseaseXiAn.projectCode}}
                            </button>
                            <button mat-mini-fab color="warn" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                (click)="deassociateWithDiseaseXiAn(diseaseXiAn.id, node.id)">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </mat-card>

                    </mat-nav-list>
                    <mat-nav-list *ngFor="let qarobot of node.qarobots">
                        <mat-card matRipple>
                            <fa-icon [icon]="'question'" style="color: yellow"></fa-icon>{{node.name}}
                            <a [routerLink]="['/q-arobot', qarobot.id, 'view']">{{qarobot.question}}</a>
                            <fa-icon [icon]="'chevron-right'"></fa-icon>
                            <button mat-raised-button style="background-color: cornsilk" disabled><span
                                    style="color: cadetblue">{{qarobot.qaSubsidiary}}</span> -
                            </button>
                            <button mat-mini-fab color="warn" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                (click)="deassociateWithDiseaseXiAn(qarobot.id, node.id)">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </mat-card>
                    </mat-nav-list>
                    <hr>
                </div>

                <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                </ul>
            </li>
        </mat-nested-tree-node>
    </mat-tree>
</div>
