<mat-nav-list>
        <a  mat-list-item (click)="associateWithQArobot()">
          <span mat-line>关联QA</span>
        </a>

        <a  mat-list-item (click)="associateWithDiseaseXiAn()">
          <span mat-line>关联项目</span>
        </a>

        <a  mat-list-item (click) = "createDiseaseMap()">
          <span mat-line>添加子地图</span>
        </a>

        <a  mat-list-item (click) = "modifyDiseaseMap()">
            <span mat-line>编辑地图</span>
        </a>

        <a  mat-list-item (click) = "createLink()">
            <span mat-line>添加文章链接</span>
        </a>

        <a  mat-list-item (click)="deleteDiseaseMap()">
                <span mat-line>删除<span class = "text-primary">{{data.diseaseMap.name}}</span></span>
        </a>
        <a  mat-list-item (click)="openLink($event)">
          <span mat-line>关闭</span>
        </a>
</mat-nav-list>
