<mat-card *ngIf="!diseaseMap">{{diseaseBranch.name}}
    <button mat-mini-fab color="primary" *jhiHasAnyAuthority="'ROLE_ADMIN'" (click)="openBranchBottomSheet()"
        class="add">+</button>
    <button *ngIf = "previousDataSources.length > 0" mat-raised-button (click)="goUpTreeControl()" class="nav-back">
        <fa-icon [icon]="'arrow-left'"></fa-icon>
    </button>
</mat-card>
<mat-card *ngIf="diseaseMap">{{diseaseMap.name}}
        <!-- <button mat-mini-fab color="primary" *jhiHasAnyAuthority="'ROLE_ADMIN'" (click)="openBranchBottomSheet()"
            class="add">+</button> -->
        <button *ngIf = "previousDataSources.length > 0" mat-raised-button (click)="goUpTreeControl()" class="nav-back">
            <fa-icon [icon]="'arrow-left'"></fa-icon>
        </button>
</mat-card>
<!-- <button mat-raised-button (click)="openBranchBottomSheet()">Open file</button> -->
<br>
<div class="container col-12">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node">
            <li style = "padding-bottom: 5px; width: 90%">
                    <mat-expansion-panel style = "margin: 5px;" >
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                    <span>{{node.name}}</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-nav-list *ngFor="let diseaseXiAn of node.diseaseXiAns">
                                    <mat-card matRipple>
                                        <button mat-raised-button style="background-color: cornsilk" disabled><span
                                                style="color: cadetblue">{{diseaseXiAn.id}}</span>
                                        </button>
                                        <fa-icon [icon]="'book-medical'" style="color: darkturquoise"></fa-icon>
                                        <a [routerLink]="['/disease-xi-an', diseaseXiAn.id, 'view']">{{diseaseXiAn.name}}</a>
                                        <fa-icon [icon]="'chevron-right'"></fa-icon>
                                        <button mat-raised-button style="background-color: cornsilk" disabled><span
                                                style="color: cadetblue">{{diseaseXiAn.subsidiary}}</span> -
                                            {{diseaseXiAn.projectCode}}
                                        </button>
                                        <button mat-mini-fab color="warn" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                            (click)="deassociateWithDiseaseXiAn(diseaseXiAn.id, node.id)">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                        </button>
                                    </mat-card>
                                </mat-nav-list>
                                <mat-nav-list *ngFor="let qarobot of node.qarobots">
                                        <mat-card matRipple>
                                            <button mat-raised-button style="background-color: cornsilk" disabled><span
                                                    style="color: cadetblue">{{qarobot.id}}</span>
                                            </button>
                                            <fa-icon [icon]="'question'" style="color: yellow"></fa-icon>{{node.name}}
                                            <a [routerLink]="['/q-arobot', qarobot.id, 'view']">{{qarobot.question}}</a>
                                            <fa-icon [icon]="'chevron-right'"></fa-icon>
                                            <button mat-raised-button style="background-color: cornsilk" disabled><span
                                                    style="color: cadetblue">{{qarobot.qaSubsidiary}}</span> -
                                            </button>
                                            <button mat-mini-fab color="warn" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                                (click)="deassociateWithQArobot(qarobot.id, node.id)">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                            </button>
                                        </mat-card>
                                    </mat-nav-list>
                    </mat-expansion-panel>
            </li>
            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-mini-fab color="primary"
                    (click)="openMapBottomSheet(node)" class="add"
                    style = "display: inline-block">+</button>
        </mat-tree-node>

        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
            style = "display: flex">
            <li style = "padding-bottom: 5px; width: 90%">
                    <mat-expansion-panel style = "margin: 5px;">
                            <button mat-mini-fab color="accent"
                            (click)="goDownTreeControl(node)" class="arrow-right">
                                <fa-icon [icon] = "'arrow-right'"></fa-icon>
                           </button>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                    <span>{{node.name}}</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-nav-list *ngFor="let diseaseXiAn of node.diseaseXiAns">
                                    <mat-card matRipple>
                                        <button mat-raised-button style="background-color: cornsilk" disabled><span
                                                style="color: cadetblue">{{diseaseXiAn.id}}</span>
                                        </button>
                                        <fa-icon [icon]="'book-medical'" style="color: darkturquoise"></fa-icon>
                                        <a [routerLink]="['/disease-xi-an', diseaseXiAn.id, 'view']">{{diseaseXiAn.name}}</a>
                                        <fa-icon [icon]="'chevron-right'"></fa-icon>
                                        <button mat-raised-button style="background-color: cornsilk" disabled><span
                                                style="color: cadetblue">{{diseaseXiAn.subsidiary}}</span> -
                                            {{diseaseXiAn.projectCode}}
                                        </button>
                                        <button mat-mini-fab color="warn" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                            (click)="deassociateWithDiseaseXiAn(diseaseXiAn.id, node.id)">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                        </button>
                                    </mat-card>
                                </mat-nav-list>
                                <mat-nav-list *ngFor="let qarobot of node.qarobots">
                                        <mat-card matRipple>
                                            <button mat-raised-button style="background-color: cornsilk" disabled><span
                                                    style="color: cadetblue">{{qarobot.id}}</span>
                                            </button>
                                            <fa-icon [icon]="'question'" style="color: yellow"></fa-icon>{{node.name}}
                                            <a [routerLink]="['/q-arobot', qarobot.id, 'view']">{{qarobot.question}}</a>
                                            <fa-icon [icon]="'chevron-right'"></fa-icon>
                                            <button mat-raised-button style="background-color: cornsilk" disabled><span
                                                    style="color: cadetblue">{{qarobot.qaSubsidiary}}</span> -
                                            </button>
                                            <button mat-mini-fab color="warn" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                                (click)="deassociateWithQArobot(qarobot.id, node.id)">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                            </button>
                                        </mat-card>
                                    </mat-nav-list>
                    </mat-expansion-panel>
                <!-- <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                </ul> -->
            </li>
            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-mini-fab color="primary"
                                        (click)="openMapBottomSheet(node)" class="add"
                                        style = "display: inline-block">+</button>
        </mat-tree-node>
    </mat-tree>
</div>
