.add {
    margin-left: 10px;
}

.nav-back {
    float: right;
}

.mat-tree {
    background: inherit;
}

mat-card.expandable-node-card.mat-card {
    margin: 10px;
    cursor: pointer;
}

mat-expansion-panel.mat-expansion-panel.mat-expanded {
    background-color: gainsboro;
}

mat-card.mat-card {
    margin-bottom: 5px;
}

mat-card.link-card {
    margin-left: 8px;
}

.mat-expansion-panel-body {
    padding: 0;
}

/* .container {
    overflow: auto;
    white-space: nowrap;
} */

.container li, ul {
    display: inline-block;
}



.example-tree-invisible {
    display: none;
  }

  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .ng-fa-icon {
      cursor: pointer;
      display: inline;
  }
