/* img {
    object-fit: cover;
    display: inline-block;
    width: 300px;
    height: 450px;
} */

mat-card.title-card.mat-card {
    margin-bottom: 5px;
}

mat-card.platform-card {
    margin: 5px;
}
