<div>
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success">
                <strong jhiTranslate="settings.saved">setting saved</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <!-- <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>

                <div class="form-group">
                    <label class="form-control-label" for="firstName" jhiTranslate="settings.form.firstname">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.firstName" minlength=1 maxlength=50 #firstNameInput="ngModel" required>
                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.required" jhiTranslate="settings.messages.validate.firstname.required">
                            Your first name is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.minlength" jhiTranslate="settings.messages.validate.firstname.minlength">
                            Your first name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.maxlength" jhiTranslate="settings.messages.validate.firstname.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="lastName" jhiTranslate="settings.form.lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.lastName" minlength=1 maxlength=50 #lastNameInput="ngModel" required>
                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.required" jhiTranslate="settings.messages.validate.lastname.required">
                            Your last name is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.minlength" jhiTranslate="settings.messages.validate.lastname.minlength">
                            Your last name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.maxlength" jhiTranslate="settings.messages.validate.lastname.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.email" minlength="5" maxlength="254" #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required" jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength" jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength" jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="settingsForm.form.invalid" class="btn btn-primary" jhiTranslate="settings.form.button">Save</button>
            </form> -->

            <div class="register-form" *ngIf="!success">
                    <mat-list>
                        <h3 mat-subheader>
                            <fa-icon icon="user-cog"></fa-icon>
                            账号信息
                        </h3>
                        <div class = "register-list">
                                    <!-- <mat-list-item>
                                        <mat-form-field>
                                            <input matInput [(ngModel)]="settingsAccount.login" placeholder="用户名"
                                                [value]="settingsAccount.login">
                                        </mat-form-field>
                                    </mat-list-item> -->
                                    <mat-list-item>
                                        <mat-form-field>
                                            <input matInput type="email" [(ngModel)]="settingsAccount.email" placeholder="邮箱"
                                                [value]="settingsAccount.email">
                                        </mat-form-field>
                                    </mat-list-item>

                        </div>
                        <h3 mat-subheader>
                            <fa-icon icon="address-card"></fa-icon>
                            个人信息
                        </h3>
                        <div class = "register-list">
                                <mat-list-item>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="settingsAccount.firstName" placeholder="姓名"
                                            [value]="settingsAccount.firstName">
                                    </mat-form-field>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="settingsAccount.phoneNumber" placeholder="联系电话"
                                            [value]="settingsAccount.phoneNumber">
                                    </mat-form-field>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="settingsAccount.workAddress" placeholder="工作部门"
                                            [value]="settingsAccount.workAddress">
                                    </mat-form-field>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="settingsAccount.workType" placeholder="职位"
                                            [value]="settingsAccount.workType">
                                    </mat-form-field>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="settingsAccount.selfIntro" placeholder="个人简介"
                                            [value]="settingsAccount.selfIntro">
                                    </mat-form-field>
                                </mat-list-item>
                    </div>
                    <!-- <h3 mat-subheader>
                        <fa-icon icon="key"></fa-icon>
                        密码
                    </h3>
                        <div class = "register-list">
                                    <mat-list-item>
                                        <mat-form-field>
                                            <input matInput type="password" [(ngModel)]="settingsAccount.password" placeholder="密码"
                                                [value]="settingsAccount.password">
                                        </mat-form-field>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-form-field>
                                            <input matInput type="password" [(ngModel)]="confirmPassword" placeholder="确认密码"
                                                [value]="confirmPassword">
                                        </mat-form-field>
                                    </mat-list-item>
                        </div> -->
                    </mat-list>
                    <button mat-stroked-button (click)="save()">保存</button>
                </div>
        </div>
    </div>

</div>
