<div>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="kingmed-profile"></div>
            <mat-card-title>{{currentAccount.login}}
                <fa-icon class="user-setting-icon" [icon]="'user-cog'" [routerLink]="'/account/account-settings'">
                </fa-icon>
                <span [style.margin-left]="'20px'" [style.cursor]="'pointer'"
                    [routerLink]="['/admin/user-management', currentAccount.login, 'view']">
                    详细资料
                    <fa-icon icon="chevron-right"></fa-icon>
                </span>
                <button mat-raised-button color="accent" *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity"
                    class="float-right jh-create-entity create-disease-xi-an" [routerLink]="['/disease-xi-an', 'new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span class="hidden-sm-down"
                        jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.home.createLabel">
                        Create new Disease Xi An
                    </span>
                </button>
            </mat-card-title>
            <mat-card-subtitle>{{currentAccount.email}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

</div>
<mat-toolbar>
    <button class="nav-btn" mat-flat-button
    [routerLink]="[{ outlets: {subpage: btn.routerLink}}] "
     *ngFor="let btn of navButtons"
        [style.background-color]="!btn.isSelected ? 'transparent' : 'gainsboro'">
        <fa-icon [icon]="btn.icon"></fa-icon>
        {{btn.content}}
    </button>
</mat-toolbar>
<br />


