
.toolbar-container {
    /* width: 70px; */
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #19b5ca1a;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

a.top {
    overflow: hidden;
    height: 0px;
}

.toolbar-container {
    z-index: 2;
}

fa-icon {
    color: black;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 10px;
    right: 10px;
}

.qrcode {
    position: absolute;
    bottom: 0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

a {
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    color: #115d8a;
    text-decoration: none;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

a:hover {
    background-color: rgba(20, 193, 241, 0.68)
}

a::after {
    position: absolute;
    content: ' ';
    height: 1px;
    left: 10px;
    right: 10px;
    width: auto;
    bottom: 0;
    overflow: hidden;
    background: rgba(0,0,0,.1);
}




