.user-setting-icon:hover {
    color: blue;
    cursor: pointer;
}

.user-setting-icon {
    color: rgb(0, 195, 255);
}

.dollar-sign {
    color: yellow;
}

.jh-create-entity {
    margin: 3px;
}

mat-nav-list.auto-complete-list.mat-nav-list.mat-list-base {
    position: absolute;
    top: 45px;
    z-index: 1000;
    background: rgba(244, 248, 250, 0.938);
    width: 100%;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

button.input-group-append.search-btn.mat-raised-button.mat-warn {
    display: inline-block;
    width: 15%;
    border-radius: 10px;
}

button.jh-create-entity {
    float: right;
}

input#currentSearch {
    /* top: 0; */
    width: 80%;
    height: 45px;
    left: 0;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-style: none;
    padding-left: 5px;
}


.table-disease-mobile {
    font-size: 15px;
    background-color: #54bdbd;
}

table.mat-table {
    border-spacing: 0;
}

.search-restric {
    max-width: 30%;
    display: inline;
    margin: px;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 5px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button.concourse-chip {
    border-style: none;
    font-size: 14px;
    min-width: 69px;
    margin: 5px;
    border-radius: 14px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: deeppink;
}

.mat-form-field {
    font-size: 15px;
}

.row {
    margin: 0;
}

fa-icon {
    color: white;
}

.activated {
    color: rgb(122, 233, 122);
}

.deactivated {
    color: red;
}

table {
    width: 100%;
    margin: 0;
}

/* ==========================================================================
Navbar
========================================================================== */
.nav-link {
    color: #54bdbd;
}

button.nav-btn.mat-flat-button.ng-star-inserted {
    font-weight: 600;
    font-size: 18px;
}

/* nav {
    position: fixed;
    bottom: 40px;
} */

mat-toolbar button {
    background-color: transparent;
    min-width: 120px;
}

mat-toolbar button:hover {
    background-color: gainsboro;
}

mat-toolbar button:visited {
    background-color: rgb(117, 138, 36);
}

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    overflow-x: auto;
}

.nav-link:hover {
    color: #336b6b;
}

.dropdown-item:hover {
    background-color: white;
    color: #336b6b;
}

.dropdown-item:active {
    background-color: rgb(230, 208, 208);
}

.navbar-version {
    font-size: 10px;
    color: #ccc;
}

.head {
    /* width: 100%; */
    /* height: 60px; */
    background: white;
    /* background: url(http://www.kingmed.com.cn/images/bghead.jpg) repeat-x; */
    /* padding-bottom: 2rem; */
}

/* .profile-image {
    height: 2em;
    width: 2em;
} */


.jh-navbar .profile-image {
    margin: -10px 0px;
    height: 20px;
    width: 40px;
    border-radius: 50%;
}

.jh-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
    padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item {
    margin-left: 1.5rem;
}

.jh-navbar a.nav-link {
    font-weight: 400;
}

.jh-navbar .jh-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;
}

.jh-navbar .jh-navbar-toggler:hover {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
/* .navbar-brand.logo {
    padding: 5px 15px;
}

.logo-img {
    height: 100%;
    background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
    background-size: contain;
    width: 100%;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
} */

.navbar {
    background-color:white;
}



