<div class = "container col-sm-12">
        <button class = "btn btn-primary" (click)="previousState()">
                <fa-icon [icon]="'arrow-left'"></fa-icon>返回</button>
                <button class = "btn btn-primary">
                        <fa-icon [icon]="'download'"></fa-icon>
                    <a [href] = "[applicationUrl + '/' + path]">下载</a>
                </button>
</div>
<embed [src] = "[applicationUrl + '/' + path]" type="application/pdf"  width="800px" height="2100px" />
<img [src] = "[applicationUrl + '/' + path]" class = "application col-sm-12">
<div class = "alert alert-warning">
        <strong>pdf文件无法预览!</strong>
    </div>

