<div class="row justify-content-center">
        <div class = "col-sm-12">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="kingmed-profile"></div>
                      <mat-card-title>{{user.firstName}}
                        <span *ngFor="let authority of user.authorities">
                            <span class="badge badge-info">{{authority}}</span>
                        </span>
                      </mat-card-title>
                      <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                  </mat-card>
                  <mat-list>
                        <mat-list-item>
                          <fa-icon [icon]="'phone'"></fa-icon>
                          <h4 mat-line>联系电话</h4>
                          <p mat-line>18324748963</p>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                          <fa-icon [icon] = "'building'"></fa-icon>
                          <h4 mat-line>部门</h4>
                          <p mat-line>西安</p>
                        </mat-list-item>
                      </mat-list>
            </div>

    <!-- <div class="col-8">
        <div *ngIf="user">
            <h2>
                <span jhiTranslate="userManagement.detail.title">User</span> [<b>{{user.login}}</b>]
            </h2>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="userManagement.login">Login</span></dt>
                <dd>
                    <span>{{user.login}}</span>
                    <jhi-boolean
                        [value]="user.activated"
                        [textTrue]="'userManagement.activated' | translate"
                        [textFalse]="'userManagement.deactivated' | translate">
                    </jhi-boolean>
                </dd>
                <dt><span jhiTranslate="userManagement.firstName">First Name</span></dt>
                <dd>{{user.firstName}}</dd>
                <dt><span jhiTranslate="userManagement.lastName">Last Name</span></dt>
                <dd>{{user.lastName}}</dd>
                <dt><span jhiTranslate="userManagement.email">Email</span></dt>
                <dd>{{user.email}}</dd>
                <dt><span jhiTranslate="userManagement.langKey">Lang Key</span></dt>
                <dd>{{user.langKey}}</dd>
                <dt><span jhiTranslate="userManagement.createdBy">Created By</span></dt>
                <dd>{{user.createdBy}}</dd>
                <dt><span jhiTranslate="userManagement.createdDate">Created Date</span></dt>
                <dd>{{user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
                <dt><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span></dt>
                <dd>{{user.lastModifiedBy}}</dd>
                <dt><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
                <dd>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>
                <dt><span jhiTranslate="userManagement.profiles">Profiles</span></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li *ngFor="let authority of user.authorities">
                            <span class="badge badge-info">{{authority}}</span>
                        </li>
                    </ul>
                </dd>
            </dl>
            <button type="submit"
                    routerLink="../../"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        </div>
    </div> -->
</div>
