<div class="">
    <mat-card matRipple *ngFor="let disease of diseases">
        <button mat-raised-button style="background-color: cornsilk" disabled><span
                style="color: cadetblue">{{disease.id}}</span>
        </button>
        <fa-icon [icon]="'book-medical'" style="color: darkturquoise"></fa-icon>
        <a [routerLink]="['/disease-xi-an', disease.id, 'view']">{{disease.name}}</a>
        <fa-icon [icon]="'chevron-right'"></fa-icon>
        <button mat-raised-button style="background-color: cornsilk" disabled><span
                style="color: cadetblue">{{disease.subsidiary}}</span> -
            {{disease.projectCode}}
        </button>
        <button mat-mini-fab color="warn" *jhiHasAnyAuthority="'ROLE_ADMIN'"
            (click)="deassociateWithDiseaseXiAn(id, disease.id)">
            <fa-icon [icon]="'times'"></fa-icon>
        </button>
    </mat-card>
</div>
<button mat-raised-button (click)="associateWithDiseaseXiAn()" [color]="'accent'"
    *jhiHasAnyAuthority="'ROLE_ADMIN'">关联新项目</button>
