<jhi-page-ribbon></jhi-page-ribbon>
<a name="top"></a>
<div>
    <!-- <base href="/"> -->
    <!-- <router-outlet name="navbar"></router-outlet> -->
    <jhi-navbar [rootPath]="router.url"></jhi-navbar>
</div>
<div>
    <div class="card jh-card" style = "background-color: rgb(245, 244, 244)">
        <router-outlet></router-outlet>
        <router-outlet name="subpage"></router-outlet>
        <router-outlet name="pricePopup"></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <router-outlet name="fab" style = "z-index: 10"></router-outlet>
    <jhi-floating-action-btn></jhi-floating-action-btn>
    <!-- <jhi-navigation-back class = "fab"></jhi-navigation-back> -->
    <div class = "card footer">
        <jhi-footer></jhi-footer>
    </div>
</div>
