mat-card-title.card-title.mat-card-title {
    font-weight: 1000;
}

.disease-partition-card {
    box-shadow: 0 5px 5px 5px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 30px;
}
