<div class="row disease-partition-div">
    <div class = "col-sm-6" *ngFor="let diseasePartition of diseasePartitions">
            <mat-card class="card  disease-partition-card"
            [routerLink]="[diseasePartition.id, 'disease-branches']"
            style = "cursor: pointer;"
            matRipple
            style="margin-bottom: 5px;"
            >
            <mat-card-header>
                <div mat-card-avatar class="kingmed-profile"></div>
                <mat-card-title class="card-title">{{diseasePartition.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="diseasePartition.bgUrl">
            {{diseasePartition.description}}
            <mat-card-actions *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-raised-button color="accent"
                    [routerLink]="[diseasePartition.id, 'update']">
                    <fa-icon icon = "pencil-alt" style = "color: white;"></fa-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-raised-button color="accent" id="jh-create-entity"
        class="float-right jh-create-entity create-q-arobot" [routerLink]="'disease-partitions/create'">
        <fa-icon [icon]="'plus'"></fa-icon>
        <span class="hidden-sm-down">
            创建新板块
        </span>
    </button>
</div>
