<div class="row">
    <mat-card *ngFor="let diseasePartition of diseasePartitions" class="card col-sm-3 disease-partition-card"
        style="margin-bottom: 5px;" [style.background-image]="'url(' + diseasePartition.bgUrl + ')'"
        [style.background-size]="'cover'">
        <mat-card-header>
            <div mat-card-avatar class="kingmed-profile"></div>
            <mat-card-title class="card-title">{{diseasePartition.name}}</mat-card-title>
        </mat-card-header>
        {{diseasePartition.description}}
        <mat-card-actions>
            <button mat-raised-button color="accent"
                [routerLink]="[diseasePartition.id, 'disease-branches']">进入</button>
            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-raised-button color="accent"
                [routerLink]="[diseasePartition.id, 'update']">编辑</button>
        </mat-card-actions>
    </mat-card>
    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-raised-button color="accent" id="jh-create-entity"
    class="float-right jh-create-entity create-q-arobot" [routerLink]="'disease-partitions/create'">
    <fa-icon [icon]="'plus'"></fa-icon>
    <span class="hidden-sm-down">
        创建新板块
    </span>
    </button>
</div>
