<mat-card class="floating" cdkDrag>
    <button mat-raised-button class="nav-button" (click)="goRobot()"
        style = "background-color: rgb(31, 78, 4)">
        <fa-icon [icon] = "'robot'" style = "color: aliceblue"></fa-icon>
    </button>
    <br>
    <button mat-raised-button class="nav-button" (click)="previousState()">
        <fa-icon [icon]="'arrow-left'"></fa-icon>
    </button>
    <br>
    <button mat-raised-button class="nav-button" color="primary" (click)="goHome()">
        <fa-icon [icon]="'home'"></fa-icon>
    </button>
</mat-card>
