<div class="floating" cdkDrag>
    <!-- <button mat-mini-fab class="nav-button" style="
            margin: auto;
            display:block;
            margin-bottom: 0;
            padding: 0;
            max-width: 15px;
            max-height: 15px
        ">
    </button> -->

    <button mat-raised-button class="nav-button"
        [style.width]="[navBottomBarWidthPercent/(navButtons.length+1) + '%']"
        *ngFor="let navButton of navButtons" [routerLink]="navButton.routerLink">
        <fa-icon [icon]="navButton.font"></fa-icon>
    </button>
    <button
        mat-raised-button
        (click)="previousState()" class="nav-button"
        [style.width]="[navBottomBarWidthPercent/(navButtons.length+1) + '%']"
        >
            <fa-icon [icon]="'arrow-left'"></fa-icon>
    </button>
</div>
