<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- <mat-card jhiTranslate="register.title">Registration</mat-card> -->

            <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>
    </div>
    <div class="register-form" *ngIf="!success">
        <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
            <mat-list>
                <h3 mat-subheader>
                    <fa-icon icon="user-cog"></fa-icon>
                    账号信息
                </h3>
                <div class="register-list">
                    <mat-form-field>
                        <input matInput placeholder="用户名" id="login" formControlName="login"
                            [errorStateMatcher]="errorMatcher">
                        <mat-error *ngIf="login.hasError('pattern') && !login.hasError('required')">
                            用户名只允许包含英文字母大小写、'@'、下划线、数字!
                        </mat-error>
                        <mat-error *ngIf="login.hasError('required')">
                            用户名必填!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="邮箱" autocomplete="off" formControlName="email"
                            [errorStateMatcher]="errorMatcher">
                        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                            请输入有效邮箱
                        </mat-error>
                        <mat-error *ngIf="email.hasError('required')">
                            请输入 <strong>邮箱</strong>
                        </mat-error>
                    </mat-form-field>
                    <!--  -->

                    <mat-form-field>
                        <mat-label>你的身份</mat-label>
                        <mat-select formControlName="identity" id="identity">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let identity of identities"
                            [value] = "identity">
                                <fa-icon [icon]="identity.fontValue"
                                ></fa-icon>
                                {{identity.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="identity.hasError('required')">
                                身份必选!
                            </mat-error>
                    </mat-form-field>

                </div>
                <h3 mat-subheader>
                    <fa-icon icon="address-card"></fa-icon>
                    个人信息
                </h3>
                <div class="register-list">

                    <mat-form-field>
                        <input matInput placeholder="姓名" id="firstName" formControlName="firstName">
                    </mat-form-field>


                    <mat-form-field>
                        <input matInput placeholder="联系电话" id="phoneNumber" formControlName="phoneNumber">
                        <mat-error *ngIf="phoneNumber.hasError('pattern')">
                            电话只能包含数字!
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field>
                        <input matInput placeholder="工作部门" id="workAddress" formControlName="workAddress">
                    </mat-form-field>


                    <mat-form-field>
                        <input matInput placeholder="职位" id="workType" formControlName="workType">
                    </mat-form-field>


                    <mat-form-field>
                        <input matInput placeholder="个人简介" id="selfIntro" formControlName="selfIntro">
                    </mat-form-field>

                </div>
                <h3 mat-subheader>
                    <fa-icon icon="key"></fa-icon>
                    密码
                </h3>
                <div class="register-list">

                    <mat-form-field>
                        <input matInput type="password" formControlName="password" placeholder="密码" id="password">
                        <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
                            密码最少需要六位!
                        </mat-error>
                            <mat-error *ngIf="password.hasError('required')">
                                密码必填!
                            </mat-error>
                    </mat-form-field>


                    <mat-form-field>
                        <input matInput type="password" id="confirmPassword" placeholder="确认密码"
                            formControlName="confirmPassword">
                    </mat-form-field>

                </div>
            </mat-list>
            <button mat-stroked-button type="submit" [disabled]="registerForm.invalid">注册</button>
        </form>
    </div>
</div>
