mat-form-field {
    width: 90%;
    margin: 0 auto;
}

.ntf-form {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

mat-list-item {
    margin: center;
}

.register-form {
    margin: 0 auto;
}

mat-list {
    margin: 0 auto;
}
