dt {
    font-size: 22px;
    margin: 5px;
}

.related-map {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    margin: 10px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;
}

:host span.inner::ng-deep strong {
    color: red;
    font-size: medium;
}

span.sub-label {
    background-color: #31c3e4;
    padding: 5px;
    border-radius: 15px;
    color: white;
}

.subItem {
    font-size: 20px;
    margin: 3px;
    font-weight: 400;
}

mat-list-item {
    background-color: rgb(245, 245, 245);
}

dl {
    list-style-type: disc;
}

dd {
    margin-left: 20px;
    font-size: 18px;
}

.fa-related {
    color: orange;
}

.btn-fa {
    color: black;
    position: absolute;
    top: 50%;
    right: 50%;
    height: 20px;
    width: 100px;
    margin-top: -10px;
    margin-right: -50px;
    padding: 0;
}

.copy-btn {
    margin-right: 20px;
    float: right;
    cursor: pointer;
    transition: all 1s ease;
}

.copy-btn:hover {
    color: rgb(157, 255, 0);
}

.btn-related::after {
    position: absolute;
    content: '';
    right: 0;
    width: 2px;
    bottom: 15%;
    top: 15%;
    background: grey;
}

/* button of related info under main details */
.btn-related {
    position: relative;
    text-align: center;
    background-color: rgba(103, 238, 227, 0.582);
    min-width: 25%;
    height: 40px;
    border: none;
    font-size: 14px;
}

.icon-1 {
    color: rgb(250, 253, 72);
}

.icon-2 {
    color: rgb(252, 140, 96);
}

.icon-3 {
    color: rgb(61, 253, 61);
}

.icon-4 {
    color: rgb(253, 61, 189);
}

.icon-5 {
    color: darkkhaki;
}
