dt {
    font-size: 22px;
    margin: 5px;
}

.subItem {
    font-size: 20px;
    margin: 3px;
    font-weight: 400;
}

mat-list-item {
    background-color: rgb(245, 245, 245);
}

dl {
    list-style-type: disc;
}

dd {
    margin-left: 20px;
    font-size: 18px;
}

fa-icon {
    margin-right: 10px;
    color: white;
}

.icon-1 {
    color: rgb(250, 253, 72);
}

.icon-2 {
    color: rgb(252, 140, 96);
}

.icon-3 {
    color: rgb(61, 253, 61);
}

.icon-4 {
    color: rgb(253, 61, 189);
}

.icon-5 {
    color: darkkhaki;
}
