<div class="register-form" *ngIf="!success">
    <mat-list>
        <h3 mat-subheader>
            <fa-icon icon="user-cog"></fa-icon>
            项目开展与收费
        </h3>
        <div class="register-list">
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.name" placeholder="项目名" [value]="diseaseXiAn.name"></textarea>
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.subsidiary" placeholder="子公司"
                        [value]="diseaseXiAn.subsidiary">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.projectCode" placeholder="项目代码"
                        [value]="diseaseXiAn.projectCode">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.chargeCode" placeholder="物价代码"
                        [value]="diseaseXiAn.chargeCode">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.tollStandard" placeholder="物价"
                        [value]="diseaseXiAn.tollStandard">
                </mat-form-field>
            </mat-list-item>
        </div>
        <h3 mat-subheader>
            <fa-icon icon="ambulance"></fa-icon>
            送检要求
        </h3>
        <div class="register-list">
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.supplement" placeholder="样本与样本量"
                        [value]="diseaseXiAn.supplement">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.sample" placeholder="耗材" [value]="diseaseXiAn.sample">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.tutorial" placeholder="分析前培训
                            " [value]="diseaseXiAn.tutorial">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.preservation" placeholder="保存条件与保存时长"
                        [value]="diseaseXiAn.preservation">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.transportation" placeholder="运输条件"
                        [value]="diseaseXiAn.transportation">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.applicationUnitType" placeholder="申请单"
                        [value]="diseaseXiAn.applicationUnitType">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.applicationRemark" placeholder="申请单备注"
                        [value]="diseaseXiAn.applicationRemark">
                </mat-form-field>
            </mat-list-item>
        </div>

        <h3 mat-subheader>
            <fa-icon icon="key"></fa-icon>
            TAT相关
        </h3>
        <div class="register-list">
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.medicalMethod" placeholder="检测方法"
                        [value]="diseaseXiAn.medicalMethod">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.projectConcourse" placeholder="检测科室"
                        [value]="diseaseXiAn.projectConcourse">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.hurryDepartment" placeholder="加急结果派单岗位"
                        [value]="diseaseXiAn.hurryDepartment">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.reportingTime" placeholder="出结果时间"
                        [value]="diseaseXiAn.reportingTime">
                </mat-form-field>
            </mat-list-item>
        </div>
        <h3 mat-subheader>
            <fa-icon icon="key"></fa-icon>
            疾病线相关
        </h3>
        <div class="register-list">
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.clinicalApplication" placeholder="临床应用"
                        [value]="diseaseXiAn.clinicalApplication">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.series" placeholder="集团疾病线分类" [value]="diseaseXiAn.series">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.subSeries" placeholder="子公司系列划分"
                        [value]="diseaseXiAn.subSeries">
                </mat-form-field>
            </mat-list-item>
        </div>
        <h3 mat-subheader>
            <fa-icon icon="key"></fa-icon>
            备注
        </h3>
        <div class="register-list">
            <mat-list-item>
                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="diseaseXiAn.remarks" placeholder="备注" [value]="diseaseXiAn.remarks">
                </mat-form-field>
            </mat-list-item>
        </div>
    </mat-list>
    <button mat-stroked-button (click)="save()">保存</button>

</div>



<!-- <div class="row justify-content-center">
    <div class="col-12">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-disease-xi-an-heading"
                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.home.createOrEditLabel">Create or
                edit a Disease Xi An</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!diseaseXiAn.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="diseaseXiAn.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label"
                        jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.subsidiary"
                        for="field_subsidiary">Subsidiary</label>
                    <input type="text" class="form-control" name="subsidiary" id="field_subsidiary"
                        [(ngModel)]="diseaseXiAn.subsidiary" />
                </div>
                <div class="form-group">
                    <label class="form-control-label"
                        jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.name"
                        for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="diseaseXiAn.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label"
                        jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.projectCode"
                        for="field_projectCode">Project Code</label>
                    <textarea rows="3" type="text" class="form-control" name="projectCode" id="field_projectCode"
                        [(ngModel)]="diseaseXiAn.projectCode">
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.chargeCode" for="field_chargeCode">Charge Code</label>
                        <textarea rows="4" type="text" class="form-control" name="chargeCode" id="field_chargeCode"
                        [(ngModel)]="diseaseXiAn.chargeCode" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.tollStandard" for="field_tollStandard">Toll Standard</label>
                    <input type="text" class="form-control" name="tollStandard" id="field_tollStandard"
                        [(ngModel)]="diseaseXiAn.tollStandard"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.supplement" for="field_supplement">Supplement</label>
                    <textarea rows="5" type="text" class="form-control" name="supplement" id="field_supplement"
                        [(ngModel)]="diseaseXiAn.supplement" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.sample" for="field_sample">Sample</label>
                    <textarea rows = "5" type="text" class="form-control" name="sample" id="field_sample"
                        [(ngModel)]="diseaseXiAn.sample"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.tutorial" for="field_tutorial">Tutorial</label>
                    <textarea rows = "5" type="text" class="form-control" name="tutorial" id="field_tutorial"
                        [(ngModel)]="diseaseXiAn.tutorial"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.preservation" for="field_preservation">Preservation</label>
                    <textarea rows = "5" type="text" class="form-control" name="preservation" id="field_preservation"
                        [(ngModel)]="diseaseXiAn.preservation" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.transportation" for="field_transportation">Transportation</label>
                    <textarea rows = "5" type="text" class="form-control" name="transportation" id="field_transportation"
                        [(ngModel)]="diseaseXiAn.transportation" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.applicationUnitType" for="field_applicationUnitType">Application Unit Type</label>
                    <textarea rows = "2" type="text" class="form-control" name="applicationUnitType" id="field_applicationUnitType"
                        [(ngModel)]="diseaseXiAn.applicationUnitType" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.applicationRemark" for="field_applicationRemark">Application Remark</label>
                    <textarea rows = "5" type="text" class="form-control" name="applicationRemark" id="field_applicationRemark"
                        [(ngModel)]="diseaseXiAn.applicationRemark" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.medicalMethod" for="field_medicalMethod">Medical Method</label>
                    <textarea rows = "3" type="text" class="form-control" name="medicalMethod" id="field_medicalMethod"
                        [(ngModel)]="diseaseXiAn.medicalMethod"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.projectConcourse" for="field_projectConcourse">Project Concourse</label>
                    <textarea rows = "2" type="text" class="form-control" name="projectConcourse" id="field_projectConcourse"
                        [(ngModel)]="diseaseXiAn.projectConcourse" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.hurryDepartment" for="field_hurryDepartment">Hurry Department</label>
                    <textarea rows = "3" type="text" class="form-control" name="hurryDepartment" id="field_hurryDepartment"
                        [(ngModel)]="diseaseXiAn.hurryDepartment" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.reportingTime" for="field_reportingTime">Reporting Time</label>
                    <textarea rows = "3" type="text" class="form-control" name="reportingTime" id="field_reportingTime"
                        [(ngModel)]="diseaseXiAn.reportingTime" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.clinicalApplication" for="field_clinicalApplication">Clinical Application</label>
                    <textarea rows = "8" type="text" class="form-control" name="clinicalApplication" id="field_clinicalApplication"
                        [(ngModel)]="diseaseXiAn.clinicalApplication"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.series" for="field_series">Series</label>
                    <textarea rows = "3" type="text" class="form-control" name="series" id="field_series"
                        [(ngModel)]="diseaseXiAn.series"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.subSeries" for="field_subSeries">Sub Series</label>
                    <textarea rows = "2" type="text" class="form-control" name="subSeries" id="field_subSeries"
                        [(ngModel)]="diseaseXiAn.subSeries"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.remarks" for="field_remarks">Remarks</label>
                    <textarea rows = "8" type="text" class="form-control" name="remarks" id="field_remarks"
                        [(ngModel)]="diseaseXiAn.remarks" ></textarea>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div> -->
