<div class="register-form">
    <form [formGroup]="editForm" (ngSubmit)="save()">
        <h3 mat-subheader>
            <fa-icon icon="book-medical"></fa-icon>
            项目开展与收费
        </h3>
        <div class="register-list">
            <mat-form-field>
                <textarea cdkTextareaAutosize matInput formControlName="name" placeholder="项目名"></textarea>
                <mat-error *ngIf="name.hasError('required')">
                    必填!
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <textarea cdkTextareaAutosize matInput placeholder="子公司（旧）" formControlName="subsidiary"></textarea>
                <mat-error *ngIf="name.hasError('required')">
                    必填!
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>子公司（新）</mat-label>
                <mat-select formControlName="selectedSubsidiary">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let subsidiary of subsidiaries" [value]="subsidiary">{{ subsidiary.name }} </mat-option>
                </mat-select>
                <mat-error *ngIf="selectedSubsidiary.hasError('required')">
                    子公司必选!
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>分类</mat-label>
                <mat-select formControlName="selectedConcourse">
                    <mat-option *ngFor="let concourse of concourses"
                    [value]="concourse"
                    >{{ concourse.name }} </mat-option>
                </mat-select>
                <mat-error *ngIf="selectedConcourse.hasError('required')">
                        科室必选!
                    </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="views" placeholder="浏览量" type="number" />
            </mat-form-field>
            <mat-form-field>
                <textarea cdkTextareaAutosize matInput formControlName="projectCode" placeholder="项目代码"></textarea>
            </mat-form-field>

            <mat-form-field>
                <textarea cdkTextareaAutosize matInput placeholder="物价代码" formControlName="chargeCode">
                </mat-form-field>


                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput  placeholder="物价"
                    formControlName="tollStandard"
                    ></textarea
                >
            </mat-form-field>
        </div>
        <h3 mat-subheader>
            <fa-icon icon="ambulance"></fa-icon>
            送检要求
        </h3>
        <div class="register-list">
            <mat-form-field>
                <textarea cdkTextareaAutosize matInput placeholder="样本与样本量" formControlName="supplement"></textarea>
            </mat-form-field>

            <mat-form-field>
                <textarea formControlName="sample" cdkTextareaAutosize matInput placeholder="耗材">
            </mat-form-field>


                <mat-form-field>
                    <textarea cdkTextareaAutosize matInput
                    formControlName="tutorial"
                    placeholder="分析前培训
                            " ></textarea
                >
            </mat-form-field>

            <mat-form-field>
                <textarea cdkTextareaAutosize matInput formControlName="preservation" placeholder="保存条件与保存时长"></textarea>
            </mat-form-field>

            <mat-form-field>
                <textarea cdkTextareaAutosize matInput formControlName="transportation" placeholder="运输条件"></textarea>
            </mat-form-field>

            <mat-form-field>
                <textarea cdkTextareaAutosize matInput formControlName="applicationUnitType" placeholder="申请单"></textarea>
            </mat-form-field>

            <mat-form-field>
                <textarea cdkTextareaAutosize formControlName="applicationRemark" matInput placeholder="申请单备注"></textarea>
            </mat-form-field>
        </div>

        <h3 mat-subheader>
            <fa-icon icon="hospital"></fa-icon>
            TAT相关
        </h3>
        <div class="register-list">
            <mat-form-field>
                <textarea cdkTextareaAutosize matInput placeholder="检测方法" formControlName="medicalMethod">
                </mat-form-field>

                <mat-form-field>
                    <textarea cdkTextareaAutosize
                    formControlName="projectConcourse"
                    matInput  placeholder="检测科室"
                        ></textarea
                >
            </mat-form-field>

            <mat-form-field>
                <textarea cdkTextareaAutosize matInput formControlName="hurryDepartment" placeholder="加急结果派单岗位"></textarea>
            </mat-form-field>

            <mat-form-field>
                <textarea cdkTextareaAutosize formControlName="reportingTime" matInput placeholder="出结果时间"></textarea>
            </mat-form-field>
        </div>
        <h3 mat-subheader>
            <fa-icon icon="heartbeat"></fa-icon>
            疾病线相关
        </h3>
        <div class="register-list">
            <mat-form-field>
                <textarea cdkTextareaAutosize matInput formControlName="clinicalApplication" placeholder="临床应用"></textarea>
            </mat-form-field>

            <mat-form-field>
                <textarea cdkTextareaAutosize matInput formControlName="series" placeholder="集团疾病线分类"></textarea>
            </mat-form-field>

            <mat-form-field>
                <textarea cdkTextareaAutosize formControlName="subSeries" matInput placeholder="子公司系列划分"></textarea>
            </mat-form-field>
        </div>
        <h3 mat-subheader>
            <fa-icon icon="pencil-alt"></fa-icon>
            备注
        </h3>
        <div class="register-list">
            <mat-form-field>
                <textarea cdkTextareaAutosize matInput formControlName="remarks" placeholder="备注"></textarea>
            </mat-form-field>
        </div>
        <mat-slide-toggle [checked]="ifClone" (change)="ifCloneToggle()">是否克隆新项目</mat-slide-toggle>
        <mat-slide-toggle [checked]="ifGenerateNtf" (change)="generateNtfToggle()">是否生成通知</mat-slide-toggle>
        <div class="register-list ntf-form">
            <div [style.height]="ifGenerateNtf ? 'auto' : '0'" [style.visibility]="ifGenerateNtf ? 'visible' : 'hidden'">
                <h3 mat-subheader>
                    <fa-icon icon="pencil-alt"></fa-icon>
                    通知信息
                </h3>

                <mat-form-field>
                    <textarea formControlName="ntf.title" cdkTextareaAutosize matInput placeholder="标题"></textarea>
                </mat-form-field>

                <mat-form-field>
                    <textarea cdkTextareaAutosize formControlName="ntf.description" matInput placeholder="通知内容"></textarea>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>子公司</mat-label>
                    <mat-select formControlName="ntf.selectedNtfSub">
                        <mat-option *ngFor="let subsidiary of subsidiaries" [value]="subsidiary">{{ subsidiary.name }} </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>通知类型</mat-label>
                    <mat-select formControlName="ntf.selectedNtfType">
                        <mat-option *ngFor="let type of types" [value]="type">{{ type.chinese }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <button mat-stroked-button type="submit" [disabled]="editForm.invalid" style="margin-top: 20px">保存</button>
    </form>
</div>
