<div>
    <mat-card>
        <div class="row">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3 search-div">
                    <input type="text" class="search-input" [(ngModel)]="currentSearch" id="currentSearch"
                        (keydown)="onKeyDown()" (focus)="onFocusSearchBox()" (blur)="onBlurSearchBox()"
                        name="currentSearch" value="" autocomplete="off"
                        placeholder="{{ 'jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.home.search' | translate }}">
                    <button mat-raised-button class="input-group-append search-btn" color="warn" (click)="search()">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <mat-nav-list
                        [style.display]="isFocus && autoCompleteDiseases && autoCompleteDiseases.length > 0 ? 'block' : 'none'"
                        class="auto-complete-list">
                        <div *ngFor="let disease of autoCompleteDiseases">
                            <mat-list-item [routerLink]="[disease.id, 'view' ]">
                                <span class="project-name"
                                    [innerHTML]="disease.name | trimIfTooLong: windowWidth/15 | keywordHighlight: currentSearch"></span>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-nav-list>
                </div>
                <mat-form-field class="search-restric">
                    <mat-label>子公司</mat-label>
                    <mat-select [(value)]="selectedSub" (selectionChange)="selectSub()">
                        <mat-option *ngFor="let sub of subsidiaries" [value]="sub">
                            {{sub.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="search-restric">
                    <mat-label>排序</mat-label>
                    <mat-select [(value)]="selectedSort" (selectionChange)="selectSort()">
                        <mat-option *ngFor="let sort of diseaseSorts" [value]="sort.sort">
                            {{sort.chinese}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>

        <div>
            <div class="chips" style="display: inline-block; width: 100%">
                <button class="concourse-chip" (click)="selectConcourse(concourse)" *ngFor="let concourse of concourses"
                    [style.background-color]="concourse.pseudoId === matrixParams['concourse.pseudoId'] ? 'aquamarine' : 'rgb(86, 177, 201)'">
                    <span>
                        {{concourse.name}}
                    </span>
                </button>
                <button class="concourse-chip" (click)="selectConcourse(null)"
                    [style.background-color]="!matrixParams['concourse.pseudoId'] ? 'aquamarine' : 'rgb(86, 177, 201)'">
                    <span>
                        不限定
                    </span>
                </button>
            </div>
        </div>
    </mat-card>

    <div>
        <table mat-table [dataSource]="diseaseXiAns" class="mat-elevation-z8" *ngIf="isBigScreen">

            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nameMobile">
                <th mat-header-cell *matHeaderCellDef> 项目名 </th>
                <td mat-cell *matCellDef="let diseaseXiAn">
                    <mat-card matRipple style="margin: 0; padding: 1%">
                        <a [routerLink]="[diseaseXiAn.id, 'view' ]">{{diseaseXiAn.name}}
                            - <strong>{{diseaseXiAn.subsidiary}}</strong>
                            <button class="concourse-chip"
                                [routerLink]="['/disease-xi-an', diseaseXiAn.id, 'diseases']">
                                <span class="btn-fa">
                                    <fa-icon [icon]="'book-medical'" class="fa-related"></fa-icon>&nbsp;
                                </span>
                            </button>
                            <button mat-fab color="warn" *ngIf="!diseaseXiAn.activated">停用</button>
                            <span style="float: right"><span
                                    style="color: orange;">{{diseaseXiAn.views}}</span>人看过</span>
                        </a>
                        <br>
                        <div>
                            <button (click)="openDetailBottomSheet($event, diseaseXiAn)" mat-mini-fab color="accent">
                                <fa-icon [icon]="'plus'"></fa-icon>
                            </button>
                        </div>
                    </mat-card>
                </td>
            </ng-container>

            <ng-container matColumnDef="namePC" style="max-width: 15%">
                <th mat-header-cell *matHeaderCellDef> 项目名 </th>
                <td mat-cell *matCellDef="let diseaseXiAn" matRipple style="cursor: pointer;">
                    <mat-card [routerLink]="[diseaseXiAn.id, 'view' ]" [queryParams]="{keyword: currentSearch}">
                        <span class="sub-label">{{diseaseXiAn.subsidiary}}</span>
                        <span class="project-name"
                            [innerHTML]="diseaseXiAn.name | keywordHighlight: currentSearch"></span>
                        <button class="concourse-chip" (click)="stopBubbling($event)"
                            [routerLink]="['/disease-xi-an', diseaseXiAn.id, 'diseases']">
                            <span class="btn-fa">
                                <fa-icon [icon]="'book-medical'" class="disease-fa fa-related"></fa-icon>&nbsp;
                            </span>
                        </button>
                        <button mat-fab color="warn" *ngIf="!diseaseXiAn.activated">停用</button>
                        <!-- <button mat-raised-button color="warn" *ngIf="diseaseXiAn.activated">运行</button> -->
                        <span style="float: right"><span style="color: orange;">{{diseaseXiAn.views}}</span>人看过</span>

                    </mat-card>
                </td>
            </ng-container>

            <!-- PRICE Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> 价格 </th>
                <td mat-cell *matCellDef="let element">
                    <div class="btn-group flex-btn-group-container">
                        <button [routerLink]="[element.id, 'prices']" mat-mini-fab
                            style="background-color: rgb(33, 241, 95)">
                            <fa-icon [icon]="'dollar-sign'"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>
                    </div>
                </td>
            </ng-container>

            <!-- PRICE Column -->
            <ng-container matColumnDef="give">
                <th mat-header-cell *matHeaderCellDef> 指派 </th>
                <td mat-cell *matCellDef="let element">
                    <div class="btn-group flex-btn-group-container">
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" (click)="openGiveDialog(element)" mat-mini-fab
                            color="primary">
                            <fa-icon [icon]="'hand-point-right'"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>
                    </div>
                </td>
            </ng-container>

            <!-- Application Column -->
            <ng-container matColumnDef="applications">
                <th mat-header-cell *matHeaderCellDef> 申请单 </th>
                <td mat-cell *matCellDef="let element">
                    <div class="btn-group flex-btn-group-container">
                        <button [routerLink]="[element.id, 'applications']" mat-mini-fab color="primary">
                            <fa-icon [icon]="'file-alt'"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>
                    </div>
                </td>
            </ng-container>

            <!-- Suppliess Column -->
            <ng-container matColumnDef="suppliess">
                <th mat-header-cell *matHeaderCellDef> 耗材图片 </th>
                <td mat-cell *matCellDef="let element">
                    <div class="btn-group flex-btn-group-container">
                        <button [routerLink]="[element.id, 'suppliess']" mat-mini-fab style="background-color: aqua">
                            <fa-icon [icon]="'magic'"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>
                    </div>
                </td>
            </ng-container>

            <!-- QArobot Column -->
            <ng-container matColumnDef="qarobot">
                <th mat-header-cell *matHeaderCellDef> 相关QA </th>
                <td mat-cell *matCellDef="let element">
                    <div class="btn-group flex-btn-group-container">
                        <button [routerLink]="[element.id, 'qarobots']" mat-mini-fab
                            style="background-color:rgb(248, 160, 28)">
                            <fa-icon [icon]="'question'"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>
                    </div>
                </td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> 编辑 </th>
                <td mat-cell *matCellDef="let element">
                    <div class="btn-group flex-btn-group-container">
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-mini-fab type="submit"
                            style="background-color: lightblue" [routerLink]="[element.id, 'edit']">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> 删除 </th>
                <td mat-cell *matCellDef="let element">
                    <div class="btn-group flex-btn-group-container">
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-mini-fab type="submit"
                            (click)="openDeleteDialog(element)" style="background-color: rgb(243, 26, 26);">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <table *ngIf="!isBigScreen" class="table-disease-mobile">
            <tr *ngFor="let diseaseXiAn of diseaseXiAns">
                <td>
                    <mat-card matRipple style="margin: 0; margin-top: 5px; padding: 1%"
                        [routerLink]="[diseaseXiAn.id, 'view']" [queryParams]="{keyword: currentSearch}">
                        <mat-card-content>
                            <span class="sub-label">{{
                                        diseaseXiAn.subsidiary
                                    }}</span>
                            <span class="project-name"
                                [innerHTML]="diseaseXiAn.name | keywordHighlight: currentSearch"></span>
                            <button class="concourse-chip" (click)="stopBubbling($event)"
                                [routerLink]="['/disease-xi-an', diseaseXiAn.id, 'diseases']">
                                <span class="btn-fa">
                                    <fa-icon [icon]="'book-medical'" class="fa-related"></fa-icon>&nbsp;
                                </span>
                            </button>
                            <button mat-fab color="warn" *ngIf="!diseaseXiAn.activated">停用</button>
                            <!-- <button mat-raised-button color="warn" *ngIf="diseaseXiAn.activated">运行</button> -->
                            <span style="float: right"><span
                                    style="color: orange;">{{diseaseXiAn.views}}</span>人看过</span>
                            <br>
                            <div>
                                <button (click)="openDetailBottomSheet($event, diseaseXiAn)" jhiClickStopPropagation
                                    mat-mini-fab color="accent">
                                    <fa-icon [icon]="'plus'" class="plus"></fa-icon>
                                </button>
                            </div>
                        </mat-card-content>


                        <!-- <button class="concourse-chip" [routerLink]="['/disease-xi-an', diseaseXiAn.id, 'diseases']">
                            <span class="btn-fa">
                                <fa-icon [icon]="'book-medical'" class="fa-related"></fa-icon>&nbsp;
                            </span>
                        </button> <button mat-fab color="warn" *ngIf="!diseaseXiAn.activated">停用</button>
                        <span style="float: right"><span style="color: orange;">{{diseaseXiAn.views}}</span>人看过</span> -->

                    </mat-card>
                </td>
            </tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageIndex]="pageEvent.pageIndex" [pageSize]="pageEvent.pageSize"
            [length]="totalItems" showFirstLastButtons (page)="onPagination($event)">
        </mat-paginator>
        <mat-form-field class="page-jump">
            <input matInput placeholder="跳转至" type="number" (change)="onPagination(null)" [value]="pageEvent.pageIndex"
                [(ngModel)]="pageEvent.pageIndex">
        </mat-form-field>
    </div>
</div>
