.dollar-sign {
    color: yellow;
}

.jh-create-entity {
    margin: 3px;
}

.search-restric {
    max-width: 30%;
    display: inline;
    margin: px;
}

.mat-form-field {
    font-size: 15px;
}

.row {
    margin: 0;
}

fa-icon {
    color: white;
}

.activated {
    color: rgb(122, 233, 122);
}

.deactivated {
    color: red;
}

table {
    width: 100%;
    margin: 0;
}

