<div class="row justify-content-center">
    <div class="col-sm-5">
        <div *ngIf="diseaseXiAn">
            <mat-card>
                <fa-icon class="icon-2" [icon]="'book-medical'"></fa-icon>
                <span>{{diseaseXiAn.name}} - <span class="text-primary">{{diseaseXiAn.subsidiary}}</span> </span>
                <button mat-stroked-button disabled="true">{{diseaseXiAn.id}}</button>
                <span style = "float: right"><span style = "color: orange;">{{diseaseXiAn.views}}</span>人看过</span>
                <br>
                <fa-icon [icon]="'user-tie'" style="color: cadetblue"></fa-icon>
                <span style="font-size: 10px">编辑于 <span>{{diseaseXiAn.lastModifiedDate | date}}</span></span>
                <button style="
                    margin: 5px;" *ngFor="let user of users" mat-stroked-button
                    [routerLink]="['/admin/user-management', user.login, 'view']">{{user.firstName}}</button>
                <a class="copy-btn" (click)="copyDetail(diseaseXiAn)" title="复制至粘贴板">
                    <fa-icon [size]="'lg'" class="copy-btn" [icon]="'clipboard'"></fa-icon>
                </a>
            </mat-card>
            <hr>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <fa-icon icon="book-medical"></fa-icon>
                    项目开展与收费
                </mat-expansion-panel-header>

                <mat-list>
                    <div *jhiHideIfNull="diseaseXiAn.projectCode">
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.projectCode">Project
                                Code</span><span> : </span>
                        </mat-list-item>
                        <mat-card>
                            <p> {{ diseaseXiAn.projectCode }}</p>
                        </mat-card>
                    </div>

                    <div *jhiHideIfHasAnyAuthority="'ROLE_DOCTOR'">
                        <div *jhiHideIfNull="diseaseXiAn.chargeCode">
                            <mat-list-item>
                                <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                    jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.chargeCode">Charge
                                    Code</span><span> :</span>
                            </mat-list-item>
                            <mat-card>
                                <p> {{ diseaseXiAn.chargeCode }}</p>
                            </mat-card>
                        </div>
                    </div>

                    <div *jhiHideIfHasAnyAuthority="'ROLE_DOCTOR'">
                        <div *jhiHideIfNull="diseaseXiAn.tollStandard">
                            <div *jhiHasAnyAuthority="'ROLE_USER'">
                                <mat-list-item>
                                    <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                        jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.tollStandard">Toll
                                        Standard</span><span> : </span>
                                </mat-list-item>
                                <mat-card>
                                    <p> {{ diseaseXiAn.tollStandard }}</p>
                                </mat-card>
                            </div>
                        </div>
                    </div>

                </mat-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <fa-icon icon="ambulance"></fa-icon>
                    送检要求
                </mat-expansion-panel-header>

                <mat-list>
                    <div *jhiHideIfNull="diseaseXiAn.supplement">
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.supplement">Supplement</span>
                            <span> : </span>
                        </mat-list-item>
                        <mat-card>
                            <p>{{diseaseXiAn.supplement}}</p>
                        </mat-card>
                    </div>
                    <div *jhiHideIfNull="diseaseXiAn.sample">
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.sample">Sample</span>
                            <span> : </span>
                        </mat-list-item>
                        <mat-card>
                            <p>
                                <span>{{diseaseXiAn.sample}}</span>
                            </p>
                        </mat-card>
                    </div>
                    <div *jhiHideIfNull="diseaseXiAn.tutorial">
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.tutorial">Tutorial</span>
                            <span> : </span>
                        </mat-list-item>
                        <mat-card>
                            <p>
                                <span>{{diseaseXiAn.tutorial}}</span>
                            </p>
                        </mat-card>
                    </div>
                    <div *jhiHideIfNull="diseaseXiAn.preservation">
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.preservation">Preservation</span>
                            <span> : </span>

                        </mat-list-item>
                        <mat-card>
                            <p>
                                <span>{{diseaseXiAn.preservation}}</span>
                            </p>
                        </mat-card>
                    </div>

                    <div *jhiHideIfNull="diseaseXiAn.transportation">
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.transportation">Transportation</span>
                            <span> : </span>

                        </mat-list-item>
                        <mat-card>
                            <p>
                                <span>{{diseaseXiAn.transportation}}</span>
                            </p>
                        </mat-card>
                    </div>

                    <div *jhiHideIfNull="diseaseXiAn.applicationUnitType">
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.applicationUnitType">Application
                                Unit Type</span><span>: </span>
                            <span></span>
                        </mat-list-item>
                        <mat-card [*jhiHideIfNull]="diseaseXiAn.applicationUnitType">
                            <p> {{diseaseXiAn.applicationUnitType}}</p>
                        </mat-card>
                    </div>

                    <div *jhiHideIfNull="diseaseXiAn.applicationRemark">
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.applicationRemark">Application
                                Remark</span><span> : </span>
                        </mat-list-item>
                        <mat-card>
                            <p>
                                <span>{{diseaseXiAn.applicationRemark}}</span>
                            </p>
                        </mat-card>
                    </div>


                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <fa-icon icon="hospital"></fa-icon>

                    TAT相关
                </mat-expansion-panel-header>
                <mat-list>
                    <div *jhiHideIfNull="diseaseXiAn.medicalMethod">
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.medicalMethod">Medical
                                Method: </span>
                            <span>: </span>
                        </mat-list-item>
                        <mat-card>
                            <p><span>{{diseaseXiAn.medicalMethod}}</span></p>
                        </mat-card>
                    </div>
                    <div *jhiHideIfHasAnyAuthority="'ROLE_DOCTOR'">
                        <div *jhiHideIfNull="diseaseXiAn.projectConcourse">
                            <mat-list-item>
                                <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                    jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.projectConcourse">Project
                                    Concourse: </span>
                                <span>: </span>

                            </mat-list-item>
                            <mat-card>
                                <p><span>{{diseaseXiAn.projectConcourse}}</span></p>
                            </mat-card>
                        </div>
                    </div>
                    <div *jhiHideIfHasAnyAuthority="'ROLE_DOCTOR'">
                        <div *jhiHideIfNull="diseaseXiAn.hurryDepartment">
                            <mat-list-item>
                                <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                    jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.hurryDepartment">Hurry
                                    Department: </span>
                                <span>: </span>
                            </mat-list-item>
                            <mat-card>
                                <p><span>{{diseaseXiAn.hurryDepartment}}</span></p>
                            </mat-card>
                        </div>
                    </div>
                    <div *jhiHideIfNull="diseaseXiAn.reportingTime">
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.reportingTime">Reporting
                                Time</span><span> :</span>
                        </mat-list-item>
                        <mat-card>
                            <p><span>{{diseaseXiAn.reportingTime}}</span></p>
                        </mat-card>
                    </div>

                </mat-list>


            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <fa-icon icon="heartbeat"></fa-icon>
                    疾病线相关
                </mat-expansion-panel-header>
                <mat-list>
                    <div *jhiHideIfNull="diseaseXiAn.clinicalApplication">
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.clinicalApplication">Clinical
                                Application</span>
                            <span> : </span>

                        </mat-list-item>
                        <mat-card>
                            <p><span>{{ diseaseXiAn.clinicalApplication }}</span></p>
                        </mat-card>

                    </div>
                    <div *jhiHideIfNull="diseaseXiAn.series">
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.series">Series</span>
                            <span> : </span>
                        </mat-list-item>
                        <mat-card>
                            <p>{{diseaseXiAn.series}}</p>
                        </mat-card>

                    </div>

                    <div *jhiHideIfNull="diseaseXiAn.subSeries">
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.subSeries">Sub
                                Series</span><span> : </span>
                        </mat-list-item>
                        <mat-card>
                            <p><span>{{ diseaseXiAn.subSeries }}</span></p>
                        </mat-card>
                    </div>

                </mat-list>
            </mat-expansion-panel>
            <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <mat-expansion-panel *jhiHideIfNull="diseaseXiAn.remarks">
                    <mat-expansion-panel-header>
                        <fa-icon icon="pencil-alt"></fa-icon>

                        备注
                    </mat-expansion-panel-header>
                    <p>
                        {{diseaseXiAn.remarks}}
                    </p>
                </mat-expansion-panel>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td *ngFor="let price of prices">
                                <button mat-raised-button [color]="price.isSelected ? 'primary' : 'accent'"
                                    (click)="togglePrice(price)">{{ price.subsidiary }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <mat-slide-toggle *jhiHasAnyAuthority="'ROLE_ADMIN'" (toggleChange)="activateDiseaseXiAn()"
                [checked]="diseaseXiAn.activated" [jhiTranslate]="">{{activatedToggleLabel}}</mat-slide-toggle>
            <hr>
            <div>
                <!-- toggle between several companies -->
                <div class="horizontal-block">
                    <a class="btn-related" *ngFor="let btnInfo of buttonInfos" [style.background-color]="btnInfo.color"
                        [routerLink]="['/disease-xi-an', diseaseXiAn.id, btnInfo.relativeUrl]">
                        <span class="btn-fa">
                            <fa-icon [icon]="btnInfo.faIcon" class="fa-related"></fa-icon>&nbsp;{{btnInfo.content}}
                        </span>
                    </a>
                </div>
                <hr>
                <button mat-raised-button
                    (click)= "openCommentBottomSheet()" id = "comment">
                    <fa-icon [icon]="'pencil-alt'" style="color: black"></fa-icon>&nbsp;<span>评论</span>
                </button>
                <hr>
                <button mat-raised-button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    [routerLink]="['/disease-xi-an', diseaseXiAn.id, 'edit']">
                    <fa-icon [icon]="'pencil-alt'" style="color: black"></fa-icon>&nbsp;<span>编辑</span>
                </button>
                <button mat-raised-button *jhiHasAnyAuthority="'ROLE_ADMIN'" (click)="openCreateDialog(null)">
                    <fa-icon [icon]="'pencil-alt'" style="color: black"></fa-icon>&nbsp;<span>新建链接</span>
                </button>

            </div>

        </div>

    </div>

    <div *ngIf="diseaseXiAn.linkCards" class="col-sm-3">
        <div *ngFor="let link of diseaseXiAn.linkCards">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="kingmed-profile"></div>
                    <mat-card-title>{{link.articleName}}</mat-card-title>
                    <mat-card-subtitle>{{link.subTitle}}</mat-card-subtitle>
                </mat-card-header>
                <a [href]="link.articleUrl">
                    <img mat-card-image [src]="link.imageUrl" alt="Photo of a Shiba Inu">
                </a>
                <mat-card-actions>
                    <button mat-button (click)="openDeleteDialog(link)">删除</button>
                    <button mat-button (click)="openCreateDialog(link)">编辑</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>
