<div class="row justify-content-center">
    <div class="col-11">
        <div *ngIf="diseaseXiAn">
            <mat-card>
                <fa-icon class="icon-2" [icon]="'book-medical'"></fa-icon>
                <span>{{diseaseXiAn.name}} - <span class = "text-primary">{{diseaseXiAn.subsidiary}}</span> </span>
            </mat-card>
            <hr>
            <mat-accordion>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        项目开展与收费
                    </mat-expansion-panel-header>

                    <mat-list>
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.id">Project
                                Code</span><span> : {{diseaseXiAn.id}}</span>
                        </mat-list-item>
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.projectCode">Project
                                Code</span><span> : {{diseaseXiAn.projectCode}}</span>
                        </mat-list-item>
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.chargeCode">Charge
                                Code</span><span> :</span>
                        </mat-list-item>
                        <mat-card>
                                <p> {{ currentChargeCode }}</p>
                        </mat-card>
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.tollStandard">Toll
                                Standard</span><span> : {{ currentPrice }}</span>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        送检要求
                    </mat-expansion-panel-header>

                    <mat-list>
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.supplement">Supplement</span>
                            <span> : </span>
                        </mat-list-item>
                        <mat-card><p>{{diseaseXiAn.supplement}}</p></mat-card>
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.sample">Sample</span>
                            <span> : </span>
                        </mat-list-item>
                        <mat-card><p>
                                <span>{{diseaseXiAn.sample}}</span>
                            </p></mat-card>
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.tutorial">Tutorial</span>
                            <span> : </span>
                        </mat-list-item>
                        <mat-card>
                                <p>
                                        <span>{{diseaseXiAn.tutorial}}</span>
                                    </p>
                        </mat-card>
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.preservation">Preservation</span>
                            <span> : </span>
                        </mat-list-item>
                        <mat-card>
                                <p>
                                        <span>{{diseaseXiAn.preservation}}</span>
                                    </p>
                        </mat-card>  
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.transportation">Transportation</span>
                            <span> : </span>
                        </mat-list-item>
                        <mat-card>
                                <p>
                                    <span>{{diseaseXiAn.transportation}}</span>
                                </p>
                        </mat-card>
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.applicationUnitType">Application
                                Unit Type</span><span>: </span>
                            <span>{{diseaseXiAn.applicationUnitType}}</span>
                        </mat-list-item>
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.applicationRemark">Application
                                Remark</span><span> : </span>
                        </mat-list-item>
                        <p>
                            <span>{{diseaseXiAn.applicationRemark}}</span>
                        </p>
                    </mat-list>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        TAT相关
                    </mat-expansion-panel-header>
                    <mat-list-item>
                        <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                            jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.medicalMethod">Medical
                            Method: </span>
                        <span>: </span>
                        <span>{{diseaseXiAn.medicalMethod}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                            jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.projectConcourse">Project
                            Concourse: </span>
                        <span>: </span>
                        <span>{{diseaseXiAn.projectConcourse}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                            jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.hurryDepartment">Hurry
                            Department: </span>
                        <span>: </span>
                        <span>{{diseaseXiAn.hurryDepartment}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                            jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.reportingTime">Reporting
                            Time</span><span> : {{currentReportingTime}}</span>
                    </mat-list-item>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        疾病线相关
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.clinicalApplication">Clinical
                                Application</span>
                            <span> : </span>

                        </mat-list-item>
                        <mat-card>
                                <p><span>{{diseaseXiAn.clinicalApplication}}</span></p>
                        </mat-card>
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.series">Series</span>
                            <span>{{diseaseXiAn.series}}</span>
                        </mat-list-item>
                        <mat-list-item>
                            <fa-icon class="icon-2" [icon]="'star'"></fa-icon><span
                                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseXiAn.subSeries">Sub
                                Series</span><span> : {{ currentSubseries }}</span>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        备注
                    </mat-expansion-panel-header>
                    <p>
                        {{diseaseXiAn.remarks}}
                    </p>
                </mat-expansion-panel>


            </mat-accordion>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <!--  -->
                            <td><button mat-raised-button color="accent"
                                    (click)="currentDefault()">{{diseaseXiAn.subsidiary}}</button></td>
                            <td *ngFor="let price of diseaseXiAn.prices">
                                <button mat-raised-button color="accent"
                                    (click)="currentToggle(price)">{{ price.subsidiary }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <mat-slide-toggle (toggleChange)="activateDiseaseXiAn()" [checked]="diseaseXiAn.activated"
                [jhiTranslate]="">{{activatedToggleLabel}}</mat-slide-toggle>
            <hr>
            <!-- toggle between several companies -->
            <button class="btn"  mat-raised-button color="primary" style="background-color: teal" [routerLink]="['/disease-xi-an', diseaseXiAn.id, 'prices']">
                <fa-icon [icon]="'dollar-sign'"></fa-icon>&nbsp;<span jhiTranslate="entity.project.price">价格详情</span>
            </button>

            <button mat-raised-button color="warn" [routerLink]="['/disease-xi-an', diseaseXiAn.id, 'qarobots']">
                <fa-icon [icon]="'question'"></fa-icon>&nbsp;<span jhiTranslate="entity.project.qarobot">QA博士</span>
            </button>

            <button mat-raised-button color="accent" [routerLink]="['/disease-xi-an', diseaseXiAn.id, 'applications']">
                <fa-icon [icon]="'file-alt'"></fa-icon>&nbsp;<span>申请单</span>
            </button>

            <button mat-raised-button color="primary" [routerLink]="['/disease-xi-an', diseaseXiAn.id, 'suppliess']">
                <fa-icon [icon]="'magic'"></fa-icon>&nbsp;<span>耗材图片</span>
            </button>
        </div>
    </div>
</div>