<mat-toolbar>

    <button class="nav-btn" mat-flat-button [routerLink]="btn.routerLink" *ngFor="let btn of navButtons"
        [style.background-color]="!btn.isSelected ? 'transparent' : 'gainsboro'">
        <fa-icon class = "nav-fa" [icon]="btn.icon"></fa-icon>
        {{btn.content}}
    </button>
    <button class="nav-button" mat-flat-button [matMenuTriggerFor]="appMenu" *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <fa-icon class = "nav-fa" [icon] = "'user-tie'"></fa-icon>
        管理
    </button>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item [routerLink] = "btn.routerLink" *ngFor = "let btn of adminMenuBtns">
            {{btn.content}}
        </button>
        <button mat-menu-item >
            <a target = "_blank" href="h2-console">数据库</a>
        </button>
    </mat-menu>

    <a href="http://www.kingmed.com.cn/index.aspx">
        <img style="max-height: 40px" src="../../../content/images/kingmedIcon.png" />
    </a>

</mat-toolbar>

