<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">金域检验 - 密码重设</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            您好, 这里是金域检验中心,
        </p>
        <p th:text="#{email.reset.text1}">
            我们了解到您想要重设密码, 请点击下方链接完成密码重设:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/#/account/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">点击这里</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">祝好, </span>
            <br/>
            <em th:text="#{email.signature}">金域检验.</em>
        </p>
    </body>
</html>
