<div class="row main">
    <div class="col-md-12">
        <h3 class="display-7 title">你好, 这里是<span class="text-alert">金域医学检验中心</span>!</h3>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">你好, "{{account.login}}". </span>
            </div>
            <div class="container col-md-12" *ngSwitchCase="true">
                <div class="row">
                        

                    <div class="card col-sm-3" style="width:400px" routerLink="/disease-xi-an">
                        <img class="card-img-top" src="../../content/images/projectItem.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">集团项目</h4>
                            <p class="card-text">金域医学旗下全套医学项目详情。</p>
                        </div>
                    </div>
                    <div class="card col-sm-3" style="width:400px" routerLink="/q-arobot">
                        <img class="card-img-top" src="../../content/images/qaRobot.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">QA小博士</h4>
                            <p class="card-text">用问答解决疑难。</p>
                        </div>
                    </div>
                    <div class="card col-sm-3" style="width:400px" routerLink="/service">
                        <img class="card-img-top" src="../../content/images/servicePlatform.png" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">服务平台</h4>
                            <p class="card-text">全方位信息平台。</p>
                        </div>
                    </div>
                    <div class="card col-sm-3" style="width:400px" routerLink="/disease-map">
                        <img class="card-img-top" src="../../content/images/diseaseMap.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title" jhiTranslate="global.menu.entities.diseaseMap" >疾病线地图</h4>
                            <p class="card-text">疾病地图, 快速定位。</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>如果你是公司员工, 可以直接 </span>
                <button mat-raised-button (click)="login()" color="accent" routerLinkActive="active">登录</button>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>没有账户?</span>&nbsp;
                <button mat-raised-button color="primary" [routerLink]="['/account', 'register']" routerLinkActive="active">注册</button>
            </div>
        </div>
    </div>
</div>
