<div>
    <h2 id="page-heading">
        <button routerLink="/" id="jh-create-entity"
            class="btn btn-primary float-right jh-create-entity create-disease-guang-dong">
            <fa-icon [icon]="'arrow-left'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="global.navigation.back">
                返回
            </span>
        </button>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity"
            class="btn btn-primary float-right jh-create-entity create-disease-guang-dong"
            [routerLink]="['/disease-guang-dong/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"
                jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.home.createLabel">
                Create new Disease Guang Dong
            </span>
        </button>
        <span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.home.title">Disease Guang
            Dongs</span>

    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                        name="currentSearch"
                        placeholder="{{ 'jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.home.search' | translate }}">
                    <!-- <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button> -->
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="table-responsive" *ngIf="diseaseGuangDongs">
        <table class="table table-striped">
            <thead>
                <!-- <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)"> -->
                <tr>
                    <!-- <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <th><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.name">Name</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <!-- <th><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.subsidiary">Subsidiary</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <th><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.price">价格</span>
                    </th>
                    <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>编辑</span></th>
                </tr>
            </thead>
            <tbody>

                <!-- <tr *ngFor="let diseaseGuangDong of diseaseGuangDongs ;trackBy: trackId"> -->
                <tr *ngFor="let diseaseGuangDong of diseaseGuangDongs">
                    <!-- <td><a [routerLink]="['/disease-guang-dong', diseaseGuangDong.id, 'view' ]">{{diseaseGuangDong.id}}</a></td> -->
                    <td><a
                            [routerLink]="[diseaseGuangDong.id, 'view' ]">{{diseaseGuangDong.name}}</a>
                    </td>
                    <!-- <td>{{diseaseGuangDong.subsidiary}}</td> -->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                                <button [routerLink]="[diseaseGuangDong.id, 'prices']" class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'dollar-sign'"></fa-icon>
                                        <span class="d-none d-md-inline"
                                        jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.price">价格</span>
                                </button>
                        </div>
                    </td>
                    <td *jhiHasAnyAuthority="'ROLE_ADMIN'" class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="[diseaseGuangDong.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="[{ outlets: { popup: diseaseGuangDong.id + '/delete' } }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="diseaseGuangDongs && diseaseGuangDongs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
