<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="diseaseGuangDong">
            <h2><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.detail.title">Disease Guang Dong</span> {{diseaseGuangDong.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.name">Name</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.name}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.subsidiary">Subsidiary</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.subsidiary}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.supplement">Supplement</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.supplement}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.testMethod">Test Method</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.testMethod}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.sample">Sample</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.sample}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.roomPreservation">Room Preservation</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.roomPreservation}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.coldStoragePreservation">Cold Storage Preservation</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.coldStoragePreservation}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.freezing">Freezing</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.freezing}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.clinicalApplication">Clinical Application</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.clinicalApplication}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.tollStandard">Toll Standard</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.tollStandard}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.reportingTime">Reporting Time</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.reportingTime}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.remarks">Remarks</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.remarks}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.chargeCode">Charge Code</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.chargeCode}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.classification">Classification</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.classification}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.applicationUnitType">Application Unit Type</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.applicationUnitType}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.series">Series</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.series}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.projectChangeNotification">Project Change Notification</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.projectChangeNotification}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.specialInspectionItems">Special Inspection Items</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.specialInspectionItems}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.stopDeveloping">Stop Developing</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.stopDeveloping}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.projectConcourse">Project Concourse</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.projectConcourse}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.testDepartment">Test Department</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.testDepartment}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.diseaseGuangDong.suppliesSeries">Supplies Series</span></dt>
                <dd>
                    <span>{{diseaseGuangDong.suppliesSeries}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/disease-guang-dong', diseaseGuangDong.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
