<mat-card class="row filter-card">

    <mat-form-field class = "col-sm-3">
        <input matInput [matDatepicker]="startPicker" placeholder="起始日期" (dateInput)="onStartDateChanges($event)"
        [value]="matrixParams['lowerBound']"
        (dateChange)="onStartDateChanges($event)" />
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class = "col-sm-3">
        <input matInput [matDatepicker]="endPicker" placeholder="截止日期"
            [value]="matrixParams['upperBound']"
        (dateInput)="onEndDateChange($event)"
            (dateChange)="onEndDateChange($event)" />
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="search-restric col-sm-3">
        <mat-label>通知类型</mat-label>
        <mat-select [value]="matrixParams['type']" (selectionChange)="onSelectType($event)">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let type of ntfTypes" [value]="type.type">
                {{ type.chinese }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="search-restric col-sm-3">
        <mat-label>子公司</mat-label>
        <mat-select [value]="matrixParams['subsidiary']" (selectionChange)="onSelectSubsidiary($event)">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let sub of subsidiaries" [value]="sub.id">
                {{ sub.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

</mat-card>

<mat-expansion-panel *ngFor="let notification of notifications">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-chip-list *ngIf="innerWidth >= 500">
                <mat-chip [style.margin-left]="'20px'" [style.background-color]="btnColor(notification.type)"
                    [style.color]="'white'">{{
                            ntfTranslator[notification.type]
                        }}</mat-chip>
                <mat-chip [style.margin-left]="'20px'" [style.background-color]="'#20c997'" [style.color]="'white'">{{
                                notification.subsidiary.name
                            }}</mat-chip>
            </mat-chip-list>
            <mat-chip *ngIf="innerWidth <= 500" [style.color]="'white'"
                [style.background-color]="btnColor(notification.type)">
                {{
                            ntfTranslator[notification.type] + '/'
                            + notification.subsidiary.name
                        }}
            </mat-chip>
            <span class="ntf-title">{{ notification.title | trimIfTooLong: innerWidth / 50 }}</span>
            <button mat-mini-fab color="warn" *jhiHasAnyAuthority="['ROLE_ADMIN']" style="margin-left: 50px"
                (click)="onDelete(notification)">
                <fa-icon [icon]="'times'"></fa-icon>
            </button>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
        <p class="title" style="text-align: center">{{ notification.title }}</p>
        {{ notification.description }}
        <p style="position: absolute; right: 20px;">{{ notification.createdDate | date }}</p>
        <mat-card-actions>
            <button mat-button [routerLink]="['/disease-xi-an', notification.diseaseXiAn.id, 'view']"
                style="background-color: antiquewhite">
                {{ notification.diseaseXiAn.name | trimIfTooLong: innerWidth / 50 }}
            </button>
        </mat-card-actions>
    </mat-card>
</mat-expansion-panel>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageIndex]="pageEvent.pageIndex" [pageSize]="pageEvent.pageSize"
    [length]="totalItems" showFirstLastButtons (page)="onPagination($event)">
</mat-paginator>
<mat-form-field class="page-jump">
    <input matInput placeholder="跳转至" type="number" (change)="onPagination()" [value]="pageEvent.pageIndex"
        [(ngModel)]="pageEvent.pageIndex">
</mat-form-field>
