<mat-expansion-panel *ngFor="let notification of notifications">
    <mat-expansion-panel-header>
        <mat-panel-title>
        </mat-panel-title>
        <mat-panel-description>
            {{notification.title}} -
            <span style = "color: indianred">{{notification.subsidiary.name}}</span>
            <mat-chip-list>
                <mat-chip
                [style.margin-left]="'20px'"
                [style.background-color]="btnColor(notification.type)"
                [style.color]="'white'">{{btnContent(notification.type)}}</mat-chip>
            </mat-chip-list>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
        {{notification.description}}
        <p style="position: absolute; right: 20px;">{{notification.createdDate | date}}</p>
        <mat-card-actions>
            <button mat-button
            [routerLink]="['/disease-xi-an', notification.diseaseXiAn.id, 'view']"
            style ="background-color: antiquewhite">
                {{notification.diseaseXiAn.name | trimIfTooLong}}
            </button>
          </mat-card-actions>
    </mat-card>

</mat-expansion-panel>
