<div class = "container col-sm-12">
    <div class="row">
            <mat-card class = "col-sm-12">
                    <form name="searchForm" class="form-inline col-sm-6">
                            <div class="input-group w-100 mt-3">
                                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhipsterElasticsearchSampleApplicationApp.qArobot.home.search' | translate }}">
                                <!-- <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                                </button>                    -->
                                <button mat-raised-button class="input-group-append" color="warn" (click)="search(currentSearch)">
                                    <fa-icon [icon]="'search'"></fa-icon>
                                </button>
            
                            </div>
                        </form>
                        <div>
                                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-raised-button color="accent" id="jh-create-entity" class="float-right jh-create-entity create-q-arobot" [routerLink]="['/q-arobot/new']">
                                    <fa-icon [icon]="'plus'"></fa-icon>
                                    <span class="hidden-sm-down"  jhiTranslate="jhipsterElasticsearchSampleApplicationApp.qArobot.home.createLabel">
                                    Create new Q Arobot
                                    </span>
                                </button>
                            </div>
                            
            </mat-card>
            
        </div>
    <div class="row">
        <div class="col-sm-12">
            
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="qArobots">
        <table class="table table-striped">
            <thead>
            <!-- <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)"> -->
            <tr>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!-- <th jhiSortBy="diseaseSeries"><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.qArobot.diseaseSeries">Disease Series</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="projectSeries"><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.qArobot.projectSeries">Project Series</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="level"><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.qArobot.level">Level</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="questionType"><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.qArobot.questionType">Question Type</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->

            <th><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.qArobot.question">Question</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th><span>相关项目</span></th>
            <th><span>编辑</span></th>
            <!-- <th jhiSortBy="answer"><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.qArobot.answer">Answer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateDate"><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.qArobot.updateDate">Update Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="submitter"><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.qArobot.submitter">Submitter</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="qaSubsidiary"><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.qArobot.qaSubsidiary">Qa Subsidiary</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="specialProcess"><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.qArobot.specialProcess">Special Process</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="qaClass"><span jhiTranslate="jhipsterElasticsearchSampleApplicationApp.qArobot.qaClass">Qa Class</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th> -->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let qArobot of qArobots">
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{qArobot.id}}</td>
                <!-- <td>{{qArobot.diseaseSeries}}</td>
                <td>{{qArobot.projectSeries}}</td>
                <td>{{qArobot.level}}</td>
                <td>{{qArobot.questionType}}</td> -->
                <td><a [routerLink]="['/q-arobot', qArobot.id, 'view' ]">{{qArobot.question}}</a></td>
                <!-- <td>{{qArobot.answer}}</td>
                <td>{{qArobot.updateDate}}</td>
                <td>{{qArobot.submitter}}</td>
                <td>{{qArobot.qaSubsidiary}}</td>
                <td>{{qArobot.specialProcess}}</td>
                <td>{{qArobot.qaClass}}</td> -->
                <td>
                    <button type="submit"
                    [routerLink]="['/q-arobot', qArobot.id, 'disease']"
                    class="btn btn-success btn-sm">
                <fa-icon [icon]="'book-medical'"></fa-icon>
                <!-- <span class="d-none d-md-inline"></span> -->
            </button>
                </td>
                <td class="text-right"  *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <div class="btn-group flex-btn-group-container">
                        <!-- <button type="submit"
                                [routerLink]="['/q-arobot', qArobot.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button> -->
                        <button type="submit"
                                [routerLink]="['/q-arobot', qArobot.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'q-arobot', { outlets: { popup: qArobot.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="qArobots && qArobots.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
